{% include '/base.html.twig' %}

<div style="background-color: #f3f4f6; padding: 10px;">
	<h3 style="text-align: center">Bonjour {{username}}, </h3>
	<p class="block">
		Vous avez demandé à changer votre mot de passe.
		<br><br>
		<strong>Si vous n'avez pas fait cette demande, merci d'ignorer cet e-mail.</strong>
		<br/><br/>
		En cliquant sur le lien suivant, vous serez redirigé sur LandsHub où vous pourrez saisir votre nouveau mot de passe :<br>
		<a href="{{url}}" target='_blank'>{{url}}</a>
	</p>

{% include '/footer.html.twig' %}