{% include '/base.html.twig' %}

<div style="background-color: #f3f4f6; padding: 10px;">
	<h3 style="text-align: center">Bonjour {{ friendship.getReceiver().getFirstname() }}, </h3>
	<p class="block">
		Vous avez reçu une invitation d'ami de {{ friendship.getSender().getFirstname() }}.
		<br><br>
		Consulter vos demandes d'amis en attente sur votre compte LandsHub en cliquant ici :<br>
		<a href="{{ front_url }}/myfriends" target='{{ front_url }}/myfriends'></a>
	</p>

{% include '/footer.html.twig' %}