{% include '/base.html.twig' %}

<div style="background-color: #f3f4f6; padding: 10px;">
	<h3 style="text-align: center">Bonjour {{username}}, </h3>
	<p class="block">
		<strong>{{username2}}</strong> a rejoint votre réservation du <strong>{{ date|date('d/m/Y') }}</strong> à la salle <strong>{{ complex.name }}</strong>.
	</p>

	{% include '/footer.html.twig' %}