{% include '/base.html.twig' %}

<div style="background-color: #f3f4f6; padding: 10px;">
	<h3 style="text-align: center">Bienvenue {{username}} !</h3>
	<p class="block">
		Merci de vous être inscrit sur <strong>Landshub</strong> !
		<br/><br/>
		Vous pouvez maintenant vous connecter et faire votre première réservation !<br>
		Nous espérons que vous trouverez le terrain de vos rêves et que vous vous amuserez.
	</p>

{% include '/footer.html.twig' %}
