{% include '/base.html.twig' %}

<div style="background-color: #f3f4f6; padding: 10px;">
	<h3 style="text-align: center">Bonjour {{ user.getFirstName() }}, </h3>
	<p class="block">
		Nous vous confirmons votre réservation à "{{ booking.getLand().getComplex().getName() }}" sur le terrain "{{booking.getLand().getName()}}" le {{ booking.getBookedTime|date('d/m/Y H:i') }} pendant une heure !
	</p>

{% include '/footer.html.twig' %}