{% include '/base.html.twig' %}

<div style="background-color: #f3f4f6; padding: 10px;">
	<h3 style="text-align: center">Bonjour {{username}}, </h3>
	<p class="block">
		Comment s'est passé votre réservation chez "{{ complex.name }}" ? Venez écrire un avis en cliquant sur le lien suivant :<br>
		<a href="{{ front_url }}/myreviews" target='_blank'>{{url}}</a>
	</p>

{% include '/footer.html.twig' %}